.required-info {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: -20px;
  padding: 16px 32px;
}

.clipboard-icon {
  font-size: 24px;
  color: #333333;
}

.required-text {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  font-family: "Samsung InterFace", "Segoe UI", Arial, sans-serif;
}
